<ion-header class="vp-header" translucent="true">
  <ion-toolbar>
    <div class="topbar">
      <img src="assets/branding/vechline-logo.png" alt="VECHLINE" class="logo" />
      <ion-select interface="popover" [value]="currentLang" (ionChange)="changeLanguage($event.detail.value)" class="lang-select" label-placement="end">
        <ion-select-option value="fr">FR</ion-select-option>
        <ion-select-option value="en">EN</ion-select-option>
        <ion-select-option value="nl">NL</ion-select-option>
        <ion-select-option value="es">ES</ion-select-option>
        <ion-select-option value="it">IT</ion-select-option>
        <ion-select-option value="de">DE</ion-select-option>
      </ion-select>
    </div>
  </ion-toolbar>
</ion-header>